@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #7A918D;
    --secondary-color: #2C363F;
    --accent1-color: #BAB700;
    --accent2-color: #E77728;
    --heading-font: 'Oswald', sans-serif;
    --paragraph-font: 'Roboto', sans-serif;
    --nav-background-color: #C4F7A1 ;
    --nav-link-color: #7A918D ;
    --nav-hover-link-color: #BAB700;
    --nav-hover-background-color:#E77728;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var( --nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
