* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav a {
    color: rgb(11, 56, 155);
    padding: 10px;
    display: inline-block;
    text-decoration: none; /* Added */
}

main {
    max-width: 840px;
    margin: 0 auto; /* Combined with header and footer */
    padding: 0 1rem; /* Combined with header and footer */
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid rgb(26, 26, 112);
    padding: 2px;
    box-shadow: 0 0 30px rgb(157, 157, 157);
    float: right;
}

p {
    padding: 0;
}

aside {
    width: 20em;
    margin: 1em;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1em;
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position:absolute; 
    top: 40px;
    left: 140px;
}

footer {
    margin-top: 150px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: #2E86AB;
    color: #312509;
}

header, footer {
    max-width: 840px;
    margin: 0 auto;
    padding: 0 1rem;
}

nav {
    background-color: darkblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: blue;
}

h1 {
    border-bottom: 2px solid #000;
    padding-bottom: 0.5rem;
}

/* Added styles */
header, footer, .grid {
    margin: 0 auto;
    max-width: 840px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 3fr; /* 1/4 width for aside, 3/4 width for main */
    gap: 1rem;
    align-items: start;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 100%;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}
