* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav a {
    color: rgb(11, 56, 155);
    padding: 10px;
    display: inline-block;
}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid rgb(26, 26, 112);
    padding: 2px;
    box-shadow: 0 0 30px rgb(157, 157, 157);
    float: right;
}

p {
    padding: 0;
}

aside {
    width: 20em;
    margin: 1em;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1em;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    /* position:absolute; */ /* Removed this line */
    /* top: 40px; */ /* Removed this line */
    /* left: 150px; */ /* Removed this line */
}

footer {
    margin-top: 150px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: #2E86AB;
    color: #312509;
}
/*5/9/24*/
